.guide-detail-description {
  img {
    max-width: 100%;
    min-height: 400px;
    min-width: 100%;
    border: 0.5px solid gray;
  }
}

.buy-guide-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 24px;
}

.guide-container {
  padding: 60px 60px 20px 60px;
}